

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center">
        <div class="card m-auto shadow mb-4">
          <div class="card-body" style="max-height: 100%;">
            <div class="row">
              <div class="col-sm-12 d-flex flex-column align-items-center">
                <div class="avatar-preview mr-3">
                  <div id="imagePreview"
                  class="avatar-preview-inner-div" #imagePreview>
                  </div>
                  <div
                  [ngClass]="{
                    'badge-success': doctor.approved == true && doctor.isActive == true,
                    'badge-warning': doctor.approved == false && doctor.isActive == true,
                    'badge-danger':  doctor.isActive == false}"
                  style="position: absolute; width: 12px; height: 12px; border-radius: 100%; right: 2px; bottom: 25px;">
                  </div>
                </div>

                <div class="dropdown no-arrow" style="position: absolute; right: 15px;">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Action:</div>
                    <a class="dropdown-item text-primary" (click)="activeDoctor($event)">Activate</a>
                    <a class="dropdown-item text-danger" (click)="inActiveDoctor($event)">Deactivate</a>
                    <a class="dropdown-item text-success" (click)="approveDoctor($event)">Approve</a>
                    <a class="dropdown-item text-warning" (click)="unApproveDoctor($event)">Decline</a>
                  </div>
                </div>

               <div class="mt-2 d-flex align-items-center">
                  <h5 class="mr-3 mt-2">{{doctor.name}} </h5>
                  <!-- <span class="badge-pill py-1 px-2"
                  [ngClass]="{
                    'badge-success': doctor.approved == true && doctor.isActive == true,
                    'badge-warning': doctor.approved == false && doctor.isActive == true,
                    'badge-danger':  doctor.isActive == false}"
                  style="font-weight: 700; font-size: xx-small;"> {{doctor_status }}</span> -->
                </div>
                  <div>
                    <h6 class=" text-muted" *ngIf="doctor.doctor_title"> {{doctor.doctor_title}}</h6>
                  </div>
                  <div>
                    <p class="text-muted text-center small" *ngIf="doctor.degree_title">
                     {{doctor.degree_title}}
                    </p>
                  </div>
                  <div class="d-flex flex-wrap justify-content-md-between align-items-center">
                    <div class="mx-2" *ngFor="let item of doctor.specialities">
                      <span class="bg-gray-200 badge-pill" style="font-weight: 800; font-size: smaller;">{{item.specialityName}}</span>
                    </div>
                  </div>
              </div>
            </div>
            <div class="mt-4 bg-gray-100 p-3 rounded">
              <div class="row">
                <div class="col-4">
                  <h6>Languages:</h6>
                </div>
                <div class="col-8">
                  <div class="d-flex flex-wrap">
                    <div class="mr-2" *ngFor="let item of doctor.languages">
                      <span class="bg-gray-200 badge-pill" style="font-weight: 800; font-size: smaller;">{{item.languageName}}</span>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-4">
                  <h6>Gender:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.gender}}</p>
                </div>
              </div>


              <div class="row">
                <div class="col-4">
                  <h6>Email:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.email}}</p>
                </div>
              </div>


              <div class="row">
                <div class="col-4">
                  <h6>Phone:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.phoneNumber}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <h6>Username:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.username}}</p>
                </div>
              </div>


              <div class="row" *ngIf="doctor.age != undefined">
                <div class="col-4">
                  <h6>Age:</h6>
                </div>
                <div class="col-8">
                  <p *ngIf="doctor.age">{{doctor.age}}</p>
                </div>
              </div>


              <div class="row" *ngIf="doctor.country_name">
                <div class="col-4">
                  <h6>Country:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.country_name}}</p>
                </div>
              </div>


              <div class="row" *ngIf="doctor.state_name">
                <div class="col-4">
                  <h6>State:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.state_name}}</p>
                </div>
              </div>

              <div class="row" *ngIf="doctor.city_name">
                <div class="col-4">
                  <h6>City:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.city_name}}</p>
                </div>
              </div>

              <div class="row" *ngIf="doctor.bloodGroup != undefined">
                <div class="col-4">
                  <h6>Blood Group:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.bloodGroup}}</p>
                </div>
              </div>

              <div class="row" *ngIf="doctor.biography">
                <div class="col-4">
                  <h6>Bio:</h6>
                </div>
                <div class="col-8">
                  <p style="max-width: 800px;">{{doctor.biography}}</p>
                </div>
              </div>


              <div class="row" *ngIf="doctor.bmdc_certifcate">
                <div class="col-4">
                  <h6>BMDC:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.bmdc_certifcate}}</p>
                </div>
              </div>

              <div class="row" *ngIf="doctor.experience">
                <div class="col-4">
                  <h6>Experience:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.experience}} years</p>
                </div>
              </div>

              <div class="row" *ngIf="doctor.types_of">
                <div class="col-4">
                  <h6>Types of:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.types_of}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="my-2">Schedule:</h6>
                </div>
                <div class="col-sm-8 d-flex flex-wrap">
                  <span *ngFor="let item of doctor.schedules" class="bg-gray-200 badge p-2 mr-2 my-2"
                  style="font-weight: 500; font-size: smaller;">{{item.day_name | weekDay }} ({{item.start_time | date: 'shortTime' }} - {{item.end_time | date: 'shortTime' }})</span>

                </div>
              </div>

              <div class="row" *ngIf="doctor.types_of">
                <div class="col-4">
                  <h6>New Patient Visiting Price:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.new_patient_visiting_price}} TK</p>
                </div>
              </div>

              <div class="row" *ngIf="doctor.types_of">
                <div class="col-4">
                  <h6>Old Patient Visiting Price:</h6>
                </div>
                <div class="col-8">
                  <p>{{doctor.old_patient_visiting_price}} TK</p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
