<div class="container-fluid">

  <!-- Page Heading -->
  <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Doctor List</h1>
  </div> -->



  <div class="card mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row flex-wrap align-items-center">
      <h6 class="mr-4 my-auto font-weight-bold">Doctor List</h6>
      <form #f="ngForm" (ngSubmit)="onSearchSubmit()"
            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
        <div class="input-group">
          <input type="text" id="search_string" name="search_string" [(ngModel)]="search_string"
                 class="form-control small" placeholder="Search doctor" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
      <select (change)="specialityTagChanged($event)" class="form-control" aria-placeholder="Select Category" style="max-width: 300px;" [(ngModel)]="selectedTag">
        <option *ngFor="let item of allSpecialities" [value]="item.id">{{item.specialityName}}</option>
      </select>
      <button type="button" (click)="toggleDoctorListSort($event)" class="btn ml-4"><i class="fa fa-sort"></i></button>


    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="d-flex flex-wrap">

        <div class="card shadow pt-3 mx-2 mb-2" *ngFor="let doctor_item of doctorList">
          <div class=" d-flex">
            <!-- <div class="avatar-preview mx-5">
              <div id="imagePreview"
              class="avatar-preview-inner-div" style="background-image: url('https://i.pinimg.com/originals/3d/32/cf/3d32cfca57376f51a0ef7f14c9f6c230.jpg');" #imagePreview>
              </div>
            </div> -->
            <app-profile-pic-preview style="width: 150px; height: 150px;" class="mx-5" [user_id]="doctor_item.id"></app-profile-pic-preview>
          </div>
          <div class="d-flex align-items-center flex-column my-3">
            <h6 style="font-weight: 600;">{{ doctor_item.name }}</h6>
            <p class="small">{{ doctor_item.degree_title }}</p>
            <div class="d-flex flex-wrap">
              <div class=" px-2 mb-1 mx-1 bg-gray-200" style="border-radius: 12px; font-weight: 600; font-size: smaller;"
                   *ngFor="let speciality_item of doctor_item.specialities">{{ speciality_item.specialityName }}</div>
            </div>
            <button class="appointment-btn btn btn-primary btn-sm rounded mt-2" (click)="getAppointment($event, doctor_item.id)">Appointment</button>
          </div>
        </div>


      </div>
    </div>
  </div>



</div>
