<div class="container">

  <!--Welcome Message-->
  <div class="align-items-center row">
    <div class="col-sm-12 col-md-6">
      <h2>SKT Hospital</h2>
      <div>
        <p>Good health is not something we can buy. However, it can be an extremely valuable savings account.</p>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <img style="height: 400px; max-width: 100%;" src="/assets/fogg-doctor-appointment.png" alt="">
    </div>
  </div>




  <!-- services -->
  <div class="d-flex mt-5 flex-column align-items-center" id="services">
    <div class="rounded p-2" style="border-bottom: 3px solid lightgray;">
      <h3>Our Services</h3>
    </div>


    <div class="row mt-4">
      <div class="col-sm-12 col-md-4">
        <div class="card m-2 border-0 bg-light">
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <div>
              <i class="fad text-warning fa-3x fa-vial"></i>
            </div>
            <div class="my-3">
              <h3>Diagnosis</h3>
            </div>
            <div>
              <p class=" text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elementum mauris mauris, a blandit turpis molestie quis. Donec aliquet quam a condimentum volutpat. Proin at mattis quam. Sed et pretium tortor. Sed ullamcorper quis ex semper commodo. Praesent semper turpis ante, at rutrum est aliquam sed</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card m-2 border-0 bg-light">
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <div>
              <i class="fad text-success fa-3x fa-stethoscope"></i>
            </div>
            <div class="my-3">
              <h3>Consultation</h3>
            </div>
            <div>
              <p class=" text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elementum mauris mauris, a blandit turpis molestie quis. Donec aliquet quam a condimentum volutpat. Proin at mattis quam. Sed et pretium tortor. Sed ullamcorper quis ex semper commodo. Praesent semper turpis ante, at rutrum est aliquam sed</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card m-2 border-0 bg-light">
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <div>
              <i class="fad text-danger fa-3x fa-procedures"></i>
            </div>
            <div class="my-3">
              <h3>Emergency</h3>
            </div>
            <div>
              <p class=" text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elementum mauris mauris, a blandit turpis molestie quis. Donec aliquet quam a condimentum volutpat. Proin at mattis quam. Sed et pretium tortor. Sed ullamcorper quis ex semper commodo. Praesent semper turpis ante, at rutrum est aliquam sed</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!--About-->
  <div id="about" class="d-flex mt-5 flex-column align-items-center">
    <div class="rounded p-2" style="border-bottom: 3px solid lightgray;">
      <h3>About Us</h3>
    </div>


    <div class="row mt-4">

      <div class="col-sm-12">
        <p class=" text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elementum mauris mauris, a blandit
          turpis molestie quis. Donec aliquet quam a condimentum volutpat. Proin at mattis quam. Sed et pretium
          tortor. Sed ullamcorper quis ex semper commodo. Praesent semper turpis ante, at rutrum est aliquam sed.
          Ut at arcu viverra, cursus massa ut, bibendum massa. Nullam malesuada faucibus orci a commodo. Aenean
          quis urna tortor. Vestibulum rutrum tempus quam nec cursus. Aenean eleifend et velit eu maximus.
          Nunc at semper quam, et vestibulum enim. Suspendisse lobortis ligula at mi laoreet, at scelerisque
          quam consectetur. Aliquam in urna leo. Sed ullamcorper nibh sit amet commodo efficitur. Duis accumsan
          sagittis dui nec volutpat.
        </p>
      </div>
    </div>
  </div>








  <!--Contact-->
  <div class="my-5" id="contactUs">
    <div class="d-flex justify-content-center align-items-center">
      <div class="rounded p-2" style="border-bottom: 3px solid lightgray;">
        <h3>Contact Us</h3>
      </div>
    </div>



    <div class="row mt-4 d-flex justify-content-between">

      <div class="">
        <div>
          <h5>Feel free to keep in touch with us</h5>
        </div>

        <div class="my-3 row justify-content-center">
          <div class="col-sm-3">
            <i class="fas fa-phone text-success"></i>
          </div>
          <div class="col-sm-9">
            <p class="mb-0 font-weight-bold">+8801670074271</p>
          </div>
        </div>

        <div class="row my-3 justify-content-center">
          <div class="col-sm-3">
            <i class="fab text-primary fa-facebook-f"></i>
          </div>
          <div class="col-sm-9">
            <a class="font-weight-bold" href="http://www.facebook.com/shakir820">facebook.com/shakir820</a>
          </div>
        </div>

        <div class="row my-3 justify-content-center">
          <div class="col-sm-3">
            <i class="fab fa-twitter" style="color: #00acee;"></i>
          </div>
          <div class="col-sm-9">
            <a class="font-weight-bold" href="http://www.twitter.com/shakir_92">twitter.com/shakir_92</a>
          </div>
        </div>
      </div>


      <div>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="contact_name">Your name</label>
                <input [disabled]="msgSentSuccess" type="text" id="contact_name" name="contact_name" ngModel class="form-control" required>
                <!-- <small class="text-danger" *ngIf="f.form.controls['contact_name'].touched">Name is required</small> -->
                <small id="nameError"
                       class="text-danger"
                       *ngIf="((f.form.controls['contact_name'].valid == false && f.form.controls['contact_name'].touched == true) ||
                (f.form.controls['contact_name'].valid == false && submitted == true ))">Name is required</small>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="contact_number">Phone number</label>
                <input type="text"
                       [disabled]="msgSentSuccess"
                       id="contact_number"
                       name="contact_number"
                       class="form-control"
                       [(ngModel)]="phoneNumber"
                       (input)="validatePhoneNumber($event)"
                       class="form-control"
                       required>
                <div *ngIf="((f.form.controls['contact_number'].valid === false && f.form.controls['contact_number'].touched === true) ||
                (f.form.controls['contact_number'].valid === false && submitted === true ))">
                  <small id="mobileError" class="text-danger">Phone number is required</small>
                </div>
                <div *ngIf="invalidMobileNumber">
                  <small id="mobileError1" class="text-danger">Enter a valid phone number</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="contact_description">Message</label>
                <textarea [disabled]="msgSentSuccess" id="contact_description" ngModel name="contact_description" class="form-control" required></textarea>
                <small id="msgError" class="text-danger" *ngIf="((f.form.controls['contact_description'].valid === false && f.form.controls['contact_description'].touched === true) ||
                (f.form.controls['contact_description'].valid === false && submitted === true ))">Message is required</small>
              </div>
            </div>

          </div>
          <div>
            <button class="btn btn-success" [disabled]="sendingMsg || msgSentSuccess">
              <div class="align-items-center d-flex justify-content-between">
                <div>
                  {{sendingMsg == true? 'Sending' : 'Send'}}
                </div>
                <div *ngIf="sendingMsg" class="spinner-border ml-3 spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </button>
          </div>
        </form>


      </div>

    </div>
  </div>








</div>
