<!-- Page Wrapper -->



<app-initial-loading *ngIf="initializing"></app-initial-loading>





<div *ngIf="!initializing" class="">
  <!-- topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar fixed-top shadow d-flex justify-content-between">

    <div class="d-flex">
      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>
      <div class=" brand-logo">
        <a [routerLink]="['']" routerLinkActive="active" class="nav-link font-weight-bold" style="cursor: pointer;"><i class="fad fa-clinic-medical"></i> SKT Hospital</a>
      </div>
      <div *ngIf="disableBtns">
        <a href="#services" routerLinkActive="active" class="nav-link text-dark" style="cursor: pointer;"> Service</a>
      </div>
      <div *ngIf="disableBtns">
        <a href="#about" routerLinkActive="active" class="nav-link text-dark" style="cursor: pointer;"> About</a>
      </div>
      <div *ngIf="disableBtns">
        <a href="#contactUs" routerLinkActive="active" class="nav-link text-dark" style="cursor: pointer;"> Contact</a>
      </div>

    </div>



    <!-- Topbar Navbar -->
    <ul class="navbar-nav">

      <li class="nav-item" *ngIf="!userService.isLoggedIn">
        <a class="nav-link text-dark" [routerLink]="['/login']" routerLinkActive="active"><i class="far mr-2 fa-sign-in"></i>Login</a>
      </li>

      <li class="nav-item" *ngIf="userService.isLoggedIn">
        <a (click)="onDashboadClick($event)" style="cursor: pointer;" class="nav-link text-dark" routerLinkActive="active">Dashboard</a>
      </li>


      <!-- Nav Item - Alerts -->
      <li *ngIf="userService.isLoggedIn" class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <!-- Counter - Alerts -->
          <span class="badge badge-danger badge-counter">3+</span>
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">
            Alerts Center
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-primary">
                <i class="fas fa-file-alt text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 12, 2019</div>
              <span class="font-weight-bold">A new monthly report is ready to download!</span>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-success">
                <i class="fas fa-donate text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 7, 2019</div>
              $290.29 has been deposited into your account!
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-warning">
                <i class="fas fa-exclamation-triangle text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 2, 2019</div>
              Spending Alert: We've noticed unusually high spending for your account.
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
        </div>
      </li>

      <!-- Nav Item - Messages -->
      <li *ngIf="userService.isLoggedIn" class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <!-- Counter - Messages -->
          <span class="badge badge-danger badge-counter">7</span>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header">
            Message Center
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
              <div class="status-indicator bg-success"></div>
            </div>
            <div class="font-weight-bold">
              <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
              <div class="small text-gray-500">Emily Fowler · 58m</div>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
              <div class="status-indicator"></div>
            </div>
            <div>
              <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
              <div class="small text-gray-500">Jae Chun · 1d</div>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
              <div class="status-indicator bg-warning"></div>
            </div>
            <div>
              <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
              <div class="small text-gray-500">Morgan Alvarez · 2d</div>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
              <div class="status-indicator bg-success"></div>
            </div>
            <div>
              <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
              <div class="small text-gray-500">Chicken the Dog · 2w</div>
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
        </div>
      </li>

      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow" *ngIf="userService.isLoggedIn">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="d-flex align-items-center">
            <div class="d-flex flex-column">
              <div class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ userService.user.name }} </div>
              <div *ngIf="isDoctor">
                <span *ngIf="isApproved" class="badge badge-success">Approved</span>
                <span *ngIf="!isApproved" class="badge badge-warning">Pending</span>
              </div>
            </div>
            <div>
              <img class="img-profile rounded-circle" style="object-fit:cover;" [src]="userService.user.profile_pic">
            </div>
          </div>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" [routerLink]="['profile']" routerLinkActive="active">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Settings
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-toggle="modal" style="cursor: pointer;" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>

    </ul>

  </nav>





  <div class="d-flex">

    <div class="bg-gradient-primary sidebar sidebar-dark accordion" *ngIf="!disableBtns">
      <!-- sidebar -->
      <ul class="navbar-nav position-fixed" style="margin-top: 70px;" id="accordionSidebar" >

        <!-- Sidebar - Brand -->
        <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">SKT Hospital</div>
    </a> -->
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="onDashboadClick($event)" style="cursor: pointer;">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Interface
        </div>




        <!-- Nav Item - Charts -->
        <li class="nav-item" *ngIf="isPatient">
          <a class="nav-link" [routerLink]="['/Appointment']" routerLinkActive="active" style="cursor: pointer;">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Appointment</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="isPatient">
          <a class="nav-link" [routerLink]="['/DoctorList']">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Doctor List</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin">
          <a class="nav-link" [routerLink]="['admin/doctorList']">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Doctor List</span>
          </a>
        </li>

        <li class="nav-item" style="cursor: pointer;" *ngIf="isDoctor">
          <a class="nav-link collapsed" data-toggle="collapse" data-target="#patientCollapse" aria-expanded="true" aria-controls="patientCollapse">
            <i class="fad fa-user-injured"></i>
            <span>Patients</span>
          </a>
          <div id="patientCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Patient Filter:</h6>
              <a class="collapse-item" routerLinkActive="active" [routerLink]="['PatientList']">All Patients</a>
              <a class="collapse-item">Today's Patient</a>
            </div>
          </div>
        </li>

        <!-- <li class="nav-item" routerLinkActive="active" *ngIf="isDoctor">
          <a class="nav-link" [routerLink]="['PatientList']">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Patients</span>
          </a>
        </li> -->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button id="sidebarToggleBtn" class=" rounded-circle border-0">
            <i class="fas fa-chevron-left text-white"></i>
          </button>
        </div>

      </ul>
    </div>


    <div class="flex-fill" style="margin-top:80px;">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
      <!--<div id="content-wrapper">-->




        <!--<footer class="bg-white fixed-bottom mb-1 ">
      <div class="container">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; SKT Hospital 2020</span>
        </div>
      </div>
    </footer>-->
      <!--</div>-->
    </div>
  </div>














</div>










<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary text-white" (click)="onLogout()" data-dismiss="modal">Logout</a>
      </div>
    </div>
  </div>
</div>

