
<div class=" container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Profile</h1>
  </div>

  <div class="row">
    <div class=" col-12">
      <div class="card mb-4">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <div>
              <h4>Profile Data</h4>
            </div>
            <div>
              <h4 class="small font-weight-bold">Profile completed <span class="float-right">70%</span></h4>
              <div class="progress" style="width: 200px; height: 8px;">
                <div id="profileCompleteProgressBar" class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>




        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div>

                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                      <h4 class="mb-4 text-center" style="font-size: medium;">Profile Photo</h4>
                      <div class="avatar-upload">
                        <div class="avatar-edit">
                          <input class="photo-input" type='file'
                                 ngModel
                                 name="profile_pic"
                                 #imageInput (change)="onImageChange($event)" id="imageUpload" accept=".png, .jpg, .jpeg" />
                          <label id="imageInputLabel" for="imageUpload">
                            <div class="d-flex justify-content-center" style="height: 100%;">
                              <i class=" fa fas fa-pencil text-center align-self-center"></i>
                            </div>
                          </label>
                        </div>
                        <div class="avatar-preview">
                          <div id="imagePreview" class="avatar-preview-inner-div" #imagePreview>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">

                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <div class=" form-group">
                            <label for="user_name">Name</label>
                            <input type="text" class="form-control"
                                   [(ngModel)]="user_name"
                                   required
                                   placeholder="Enter name"
                                   name="user_name"
                                   id="user_name">
                            <small id="nameError" *ngIf="!f.form.controls['user_name'].valid" class="text-danger">Name is required</small>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <div class=" form-group">
                            <div class=" d-flex align-items-center">
                              <div class="flex-fill">
                                <label for="username">Username</label>
                                <input type="text"
                                       class="form-control"
                                       required
                                       [(ngModel)]="proposedUsername"
                                       placeholder="Enter username"
                                       name="username"
                                       id="username"
                                       (input)="onUsernameInput($event)">
                                <div *ngIf="f.form.controls['username'].errors != null">
                                  <small id="uernameError" *ngIf="(f.form.controls['username'].errors['required'] && f.form.controls['username'].touched) ||
                                  (f.form.controls['username'].errors['required'] && submitted)" class="text-danger">Username is required</small>
                                </div>
                                <div *ngIf="!uniqueUsername && !checkingUsername">
                                  <small id="uernameError1" class="text-danger">Username is taken</small>
                                </div>
                              </div>

                              <div *ngIf="checkingUsername" class="ml-4" style="margin-top: 20px;">
                                <div class="lds-spinner">
                                  <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                                </div>
                              </div>

                              <div *ngIf="uniqueUsername && !checkingUsername" class="ml-4" style="margin-top: 20px;">
                                <i class="fa fas fa-2x fa-check text-success"></i>
                              </div>

                              <div *ngIf="!uniqueUsername && !checkingUsername" class="ml-4" style="margin-top: 20px;">
                                <i class="fad fa-2x fa-times text-danger"></i>
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <div class=" d-flex align-items-center">
                            <div class=" flex-fill">
                              <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email"
                                       name="email"
                                       required
                                       [(ngModel)]="proposedEmail"
                                       class="form-control"
                                       id="email"
                                       email
                                       (input)="onEmailInput($event)"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter email">
                                <div>
                                  <div *ngIf="!isUniqueEmailAddress && !checkingEmail">
                                    <small id="emailError" class="text-danger">Email is already taken</small>
                                  </div>
                                  <div *ngIf="f.form.controls['email'].errors != null">
                                    <div *ngIf="(f.form.controls['email'].errors['email'] && f.form.controls['email'].touched )">
                                      <small id="emailError" class="text-danger">Enter a valid email</small>
                                    </div>
                                    <div *ngIf="(f.form.controls['email'].errors['required'] && f.form.controls['email'].touched) ||
                                    (f.form.controls['email'].errors['required'] && submitted)">
                                      <small id="emailError1" class="text-danger">Email is required</small>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf="checkingEmail" class="ml-4" style="margin-top: 12px;">
                              <div class="lds-spinner">
                                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                              </div>
                            </div>

                            <div *ngIf="(isUniqueEmailAddress && !checkingEmail && (f.form.controls['email'].errors == null))" class="ml-4" style="margin-top: 20px;">
                              <i class="fa fas fa-2x fa-check text-success"></i>
                            </div>


                            <div *ngIf="!isUniqueEmailAddress && !checkingEmail" class="ml-4" style="margin-bottom: 15px;">
                              <i class="fad fa-2x fa-times text-danger"></i>
                            </div>

                          </div>


                        </div>
                        <div class="col-sm-12 col-md-6">
                          <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="text"
                                   name="mobile"
                                   [(ngModel)]="phoneNumber"
                                   (input)="validatePhoneNumber($event)"
                                   class="form-control"
                                   id="mobile"
                                   placeholder="Enter mobile">
                            <div *ngIf="invalidMobileNumber">
                              <small id="mobileError" class="text-danger">Enter a valid mobile number</small>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number"
                                   class="form-control"
                                   [(ngModel)]="selectedAge"
                                   name="age"
                                   (input)="validateAge($event)"
                                   placeholder="25"
                                   id="age"
                                   required>
                            <div>
                              <small id="ageError" class="text-danger" *ngIf="(!f.form.controls['age'].valid && f.form.controls['age'].touched) || (!f.form.controls['age'].valid && submitted)">Age is required</small>
                            </div>
                            <div *ngIf="invalidAge">
                              <small id="ageError1" class="text-danger">Only numbers are allowed</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <div class="form-group">
                            <label for="gender">Gender</label>
                            <select class="form-control" id="gender"
                                    [(ngModel)]="selectedGender"
                                    name="gender"
                                    required>
                              <option *ngFor="let item of genders" [value]="item">{{item}}</option>
                            </select>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <div class="form-group">
                            <label for="bloodGroup">Blood Group</label>
                            <select name="bloodGroup" id="bloodGroup" class="form-control"
                                    [(ngModel)]="selectedBlood">
                              <option *ngFor="let item of bloodGroups" [value]="item">{{item}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <div class="form-group">
                            <div>
                              <label for="role">Who am I ?</label>
                              <select name="role"
                                      id="role" [(ngModel)]="selectedRole"
                                      (change)="selectedRoleChanged($event)"
                                      class="form-control">
                                <option *ngFor="let item of roles" [value]="item">{{item}}</option>
                              </select>
                              <div *ngIf="selectedRole == 'Doctor' && !doctorApproved">
                                <small class=" text-warning">
                                  If you are a doctor you must be verified by Admin to do doctor stuffs. Please
                                  enter your BMDC certificate number
                                </small>
                              </div>
                              <div *ngIf="selectedRole == 'Doctor' && doctorApproved">
                                <span class="badge badge-success">Approved</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <div class=" form-group">
                            <label for="country">Country</label>
                            <select [(ngModel)]="selectedCountry"
                                    (change)="onCountryChanged($event)" id="country" class="form-control" name="country">
                              <option *ngFor="let item of location_service.countryList" [value]="item.country_name">{{item.country_name}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <div class="form-group" *ngIf="selectedRole == 'Doctor'">
                            <label for="bmdc_certificate">BMDC Certificate</label>
                            <input type="text" class="form-control" id="bmdc_certificate"
                                   name="bmdc" [(ngModel)]="bmdc_certificate" required>
                            <div *ngIf="f.form.controls['bmdc'].errors != null">
                              <small *ngIf="(f.form.controls['bmdc'].errors['required'] == true && f.form.controls['bmdc'].touched) ||
                                     (f.form.controls['bmdc'].errors['required'] == true && submitted)" class="text-danger">BMDC Certificate is required</small>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <div class=" form-group">
                            <label for="state">State</label>
                            <select name="state" [(ngModel)]="selectedState"
                                    (change)="onStateChanged($event)"
                                    id="state" class="form-control">
                              <option *ngFor="let item of location_service.stateList" [value]="item">{{item}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <div class="form-group">
                            <label for="city">City</label>
                            <select name="city" [(ngModel)]="selectedCity" id="city"
                                    class="form-control">
                              <option *ngFor="let item of location_service.cityList" [value]="item">{{item}}</option>
                            </select>
                          </div>
                        </div>
                      </div>





                      <!-- doctor's info -->
                      <div *ngIf="showDoctorInfoForm">
                        <div class="my-3 p-3 bg-gray-100">
                          <h5 class="text-muted font-weight-bold">Doctor Info</h5>
                        </div>

                        <div class="row">
                          <div class="col-sm-12 col-md-6">
                            <div class=" form-group">
                              <label for="doctor_title">Title</label>
                              <input name="doctor_title" [(ngModel)]="doctor_title" type="text"
                                     required
                                     id="doctor_title" class="form-control" />
                              <small class="text-danger" *ngIf="(submitted && !f.form.controls['doctor_title'].valid)||
                              (!f.form.controls['doctor_title'].valid && f.form.controls['doctor_title'].touched)">Title is required</small>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-6">
                            <div class=" form-group">
                              <label for="degree_title">Degree title</label>
                              <input name="degree_title" [(ngModel)]="degree_title" type="text"
                                     required
                                     id="degree_title" class="form-control" />

                              <small class="text-danger" *ngIf="(submitted && !f.form.controls['degree_title'].valid)||
                              (!f.form.controls['degree_title'].valid && f.form.controls['degree_title'].touched)">Degree title is required</small>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-12 col-md-6">
                            <div class=" form-group">
                              <label for="specialities">Specialities</label>

                              <select [(ngModel)]="selectedSpeciality" class="form-control" id="specialities" (change)="onSpecialityChanged($event)" name="specialities">
                                <option *ngFor="let item of suggestedSpecialities"
                                        [value]="item.id">
                                  {{item.specialityName}}
                                </option>
                              </select>
                              <div class="row justify-content-start">
                                <div class="col-auto" *ngFor="let item of selectedSpecialities">
                                  <app-speciality-tag [tagName]="item.specialityName" [tagId]="item.id" (tagDeleteClicked)="onSpecialityDeleteClicked($event)">
                                  </app-speciality-tag>
                                </div>
                              </div>
                              <small class="text-danger" *ngIf="(submitted && specialityTagIsRequired)">Speciality is required</small>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-6">
                            <div class=" form-group">
                              <label for="year_of_experience">Experience</label>
                              <div class="input-group">
                                <input type="number" class="form-control"
                                       name="year_of_experience"
                                       required
                                       [(ngModel)]="year_of_experience"
                                       onkeyup="if(this.value<0){this.value= this.value * -1}"
                                       id="year_of_experience">
                                <div class="input-group-append">
                                  <span class="input-group-text">Years</span>
                                </div>

                              </div>
                              <small class="text-danger" *ngIf="(submitted && !f.form.controls['year_of_experience'].valid)||
                              (!f.form.controls['year_of_experience'].valid && f.form.controls['year_of_experience'].touched)">Year of experience is required</small>
                            </div>
                          </div>
                        </div>



                        <div class="row">
                          <div class="col-sm-12 col-md-6">
                            <div class=" form-group">
                              <label for="languages">Languages</label>

                              <select [(ngModel)]="selectedLanguage" class="form-control" id="languages"
                                      (change)="onLanguageChanged($event)" name="languages">
                                <option *ngFor="let item of suggestedLanguages"
                                        [value]="item.id">
                                  {{item.languageName}}
                                </option>
                              </select>
                              <div class="row justify-content-start">
                                <div class="col-auto" *ngFor="let item of selectedLanguages">
                                  <app-speciality-tag [tagName]="item.languageName" [tagId]="item.id" (tagDeleteClicked)="onLanguageDeleteClicked($event)">
                                  </app-speciality-tag>
                                </div>
                              </div>
                              <small class="text-danger" *ngIf="(submitted && languageTagIsRequired)">Language is required</small>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-6">
                            <div class=" form-group">
                              <label for="types_of">Types of</label>
                              <div class="input-group">
                                <input type="text" class="form-control"
                                       name="types_of"
                                       [(ngModel)]="types_of"
                                       id="types_of">
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- bio data -->
                        <div class="row">
                          <div class="col-sm-12 col-md-12">
                            <div class=" form-group">
                              <label for="biography">Bio</label>
                              <textarea type="text" id="biography" name="biography"
                                        class="form-control" rows="3"
                                        [(ngModel)]="biography"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>




                      <!-- schedule info -->
                      <div *ngIf="showDoctorInfoForm">
                        <div class="my-3 p-3 bg-gray-100">
                          <h5 class="text-muted font-weight-bold">Schedule Info</h5>
                        </div>


                        <!-- friday -->
                        <div class="row">
                          <div class="col-sm-6 d-flex align-items-center">
                            <div class="form-check">
                              <input class="form-check-input"
                                     [(ngModel)]="friday_checkbox"
                                     type="checkbox"
                                     name="friday_checkbox"
                                     id="friday_checkbox">
                              <label class="form-check-label" for="friday_checkbox">
                                Friday
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-8 col-md-6">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="friday_start_time">Start Time</label>
                                  <input type="time" [(ngModel)]="friday_start_time"
                                         name="friday_start_time"
                                         id="friday_start_time"
                                         [ngClass]="{'border-danger': friday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="friday_start_time_required">Required</small>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="friday_end_time">End Time</label>
                                  <input type="time" [(ngModel)]="friday_end_time"
                                         name="friday_end_time"
                                         id="friday_end_time"
                                         [ngClass]="{'border-danger': friday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="friday_end_time_required">Required</small>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="friday_schedule_error">
                              <small class="text-danger">Invalid Schedule</small>
                            </div>


                          </div>
                        </div>


                        <!-- Saturday -->
                        <div class="row">
                          <div class="col-sm-6 d-flex align-items-center">
                            <div class="form-check">
                              <input class="form-check-input"
                                     [(ngModel)]="saturday_checkbox"
                                     name="saturday_checkbox"
                                     type="checkbox"
                                     id="saturday_checkbox">
                              <label class="form-check-label" for="saturday_checkbox">
                                Saturday
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-8 col-md-6">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="saturday_start_time">Start Time</label>
                                  <input type="time" [(ngModel)]="saturday_start_time"
                                         name="saturday_start_time"
                                         id="saturday_start_time"
                                         [ngClass]="{'border-danger': saturday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="saturday_start_time_required">Required</small>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="saturday_end_time">End Time</label>
                                  <input type="time" [(ngModel)]="saturday_end_time"
                                         name="saturday_end_time"
                                         [ngClass]="{'border-danger': saturday_schedule_error == true}"
                                         id="saturday_end_time"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="saturday_end_time_required">Required</small>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="saturday_schedule_error">
                              <small class="text-danger">Invalid Schedule</small>
                            </div>


                          </div>
                        </div>






                        <!-- Sunday -->
                        <div class="row">
                          <div class="col-sm-6 d-flex align-items-center">
                            <div class="form-check">
                              <input class="form-check-input"
                                     [(ngModel)]="sunday_checkbox"
                                     name="sunday_checkbox"
                                     type="checkbox"
                                     id="sunday_checkbox">
                              <label class="form-check-label" for="sunday_checkbox">
                                Sunday
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-8 col-md-6">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="sunday_start_time">Start Time</label>
                                  <input type="time" [(ngModel)]="sunday_start_time"
                                         name="sunday_start_time"
                                         id="sunday_start_time"
                                         [ngClass]="{'border-danger': sunday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="sunday_start_time_required">Required</small>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="sunday_end_time">End Time</label>
                                  <input type="time" [(ngModel)]="sunday_end_time"
                                         name="sunday_end_time"
                                         id="sunday_end_time"
                                         [ngClass]="{'border-danger': sunday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="sunday_end_time_required">Required</small>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="sunday_schedule_error">
                              <small class="text-danger">Invalid Schedule</small>
                            </div>

                          </div>
                        </div>







                        <!-- Monday -->
                        <div class="row">
                          <div class="col-sm-6 d-flex align-items-center">
                            <div class="form-check">
                              <input class="form-check-input"
                                     [(ngModel)]="monday_checkbox"
                                     name="monday_checkbox"
                                     type="checkbox"
                                     id="monday_checkbox">
                              <label class="form-check-label" for="monday_checkbox">
                                Monday
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-8 col-md-6">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="monday_start_time">Start Time</label>
                                  <input type="time" [(ngModel)]="monday_start_time"
                                         name="monday_start_time"
                                         [ngClass]="{'border-danger': monday_schedule_error == true}"
                                         id="monday_start_time"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="monday_start_time_required">Required</small>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="monday_end_time">End Time</label>
                                  <input type="time" [(ngModel)]="monday_end_time"
                                         name="monday_end_time"
                                         id="monday_end_time"
                                         [ngClass]="{'border-danger': monday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="monday_end_time_required">Required</small>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="monday_schedule_error">
                              <small class="text-danger">Invalid Schedule</small>
                            </div>
                          </div>
                        </div>







                        <!-- Tuesday -->
                        <div class="row">
                          <div class="col-sm-6 d-flex align-items-center">
                            <div class="form-check">
                              <input class="form-check-input"
                                     [(ngModel)]="tuesday_checkbox"
                                     name="tuesday_checkbox"
                                     type="checkbox"
                                     id="tuesday_checkbox">
                              <label class="form-check-label" for="tuesday_checkbox">
                                Tuesday
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-8 col-md-6">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="tuesday_start_time">Start Time</label>
                                  <input type="time" [(ngModel)]="tuesday_start_time"
                                         name="tuesday_start_time"
                                         id="tuesday_start_time"
                                         [ngClass]="{'border-danger': tuesday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="tuesday_start_time_required">Required</small>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="tuesday_end_time">End Time</label>
                                  <input type="time" [(ngModel)]="tuesday_end_time"
                                         name="tuesday_end_time"
                                         id="tuesday_end_time"
                                         [ngClass]="{'border-danger': tuesday_schedule_error == true}"
                                         class="form-control border-danger">
                                  <small class="text-danger" *ngIf="tuesday_end_time_required">Required</small>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="tuesday_schedule_error">
                              <small class="text-danger">Invalid Schedule</small>
                            </div>
                          </div>
                        </div>








                        <!-- Wednesday -->
                        <div class="row">
                          <div class="col-sm-6 d-flex align-items-center">
                            <div class="form-check">
                              <input class="form-check-input"
                                     [(ngModel)]="wednesday_checkbox"
                                     name="wednesday_checkbox"
                                     type="checkbox"
                                     id="wednesday_checkbox">
                              <label class="form-check-label" for="wednesday_checkbox">
                                Wednesday
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-8 col-md-6">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="wednesday_start_time">Start Time</label>
                                  <input type="time" [(ngModel)]="wednesday_start_time"
                                         name="wednesday_start_time"
                                         id="wednesday_start_time"
                                         [ngClass]="{'border-danger': wednesday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="wednesday_start_time_required">Required</small>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="wednesday_end_time">End Time</label>
                                  <input type="time" [(ngModel)]="wednesday_end_time"
                                         name="wednesday_end_time"
                                         id="wednesday_end_time"
                                         [ngClass]="{'border-danger': wednesday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="wednesday_end_time_required">Required</small>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="wednesday_schedule_error">
                              <small class="text-danger">Invalid Schedule</small>
                            </div>
                          </div>
                        </div>






                        <!-- Thursday -->
                        <div class="row">
                          <div class="col-sm-6 d-flex align-items-center">
                            <div class="form-check">
                              <input class="form-check-input"
                                     [(ngModel)]="thursday_checkbox"
                                     name="thursday_checkbox"
                                     type="checkbox"
                                     id="thursday_checkbox">
                              <label class="form-check-label" for="thursday_checkbox">
                                Thursday
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-8 col-md-6">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="thursday_start_time">Start Time</label>
                                  <input type="time" [(ngModel)]="thursday_start_time"
                                         name="thursday_start_time"
                                         id="thursday_start_time"
                                         [ngClass]="{'border-danger': thursday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="thursday_start_time_required">Required</small>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="thursday_end_time">End Time</label>
                                  <input type="time" [(ngModel)]="thursday_end_time"
                                         name="thursday_end_time"
                                         id="thursday_end_time"
                                         [ngClass]="{'border-danger': thursday_schedule_error == true}"
                                         class="form-control">
                                  <small class="text-danger" *ngIf="thursday_end_time_required">Required</small>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="thursday_schedule_error">
                              <small class="text-danger">Invalid Schedule</small>
                            </div>
                          </div>
                        </div>





                      </div>



                      <div *ngIf="showDoctorInfoForm">
                        <div class="my-3 p-3 bg-gray-100">
                          <h5 class="text-muted font-weight-bold">Visiting Price Info</h5>
                        </div>

                        <div class="row">
                          <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                              <label for="new_patient_visiting_price">New Patient Visiting Price</label>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">TK</span>
                                </div>
                                <input type="number" required onkeyup="if(this.value<0){this.value= this.value * -1}"
                                       id="new_patient_visiting_price" name="new_patient_visiting_price"
                                       [(ngModel)]="new_patient_visiting_price"
                                       class="form-control">
                                <div class="input-group-append">
                                  <span class="input-group-text">.00</span>
                                </div>
                              </div>

                              <div *ngIf="f.form.controls['new_patient_visiting_price'].errors">
                                <small class="text-danger" *ngIf="(submitted && f.form.controls['new_patient_visiting_price'].errors['required']) ||
                                (f.form.controls['new_patient_visiting_price'].errors['required'] && f.form.controls['new_patient_visiting_price'].touched)">Price is required</small>
                              </div>

                            </div>
                          </div>
                          <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                              <label for="old_patient_visiting_price">Old Patient Visiting Price</label>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">TK</span>
                                </div>
                                <input type="number" onkeyup="if(this.value<0){this.value= this.value * -1}"
                                       required
                                       id="old_patient_visiting_price"
                                       name="old_patient_visiting_price"
                                       [(ngModel)]="old_patient_visiting_price"
                                       class="form-control">
                                <div class="input-group-append">
                                  <span class="input-group-text">.00</span>
                                </div>
                              </div>
                              <div *ngIf="f.form.controls['old_patient_visiting_price'].errors">
                                <small class="text-danger" *ngIf="(submitted && f.form.controls['old_patient_visiting_price'].errors['required']) ||
                                (f.form.controls['old_patient_visiting_price'].errors['required'] && f.form.controls['old_patient_visiting_price'].touched)">Price is required</small>
                              </div>

                            </div>
                          </div>
                        </div>


                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>









          </div>

          <div class=" card-footer">
            <div class=" d-flex flex-row-reverse align-items-center">
              <button type="submit" class="btn btn-success">
                <div class=" d-flex align-items-center">
                  <div class="flex-grow-1 ml-3 mr-3">
                    {{savingProfileData? 'Saving': 'Save'}}
                  </div>
                  <div *ngIf="savingProfileData" class="align-self-center d-flex">
                    <div class="spinner-border align-self-center spinner-border-sm text-light" role="status">
                    </div>
                  </div>
                </div>
              </button>
            </div>
          </div>

        </form>




      </div>

    </div>
  </div>
</div>


